* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 100%;
  height: 100px;
}

#options-bar {
  height: 50%;
  display: flex;
  flex-direction: row;
}

#options-bar .logo {
  height: 100%;
}

#options-links {
  display: flex;
  flex-direction: row;
}

#options-links a {
  text-transform: uppercase;  
  text-decoration: none;
  margin: 0 5px;
  padding: 5px 3px;
  background-color: #BBBBBB;
  border-left: 2px solid #D7D7D7;
  border-right: 2px solid #D7D7D7;
  border-radius: 8px;
  color: #150061;
  height: 80%;
}

#options-links a:hover {
  background-color: #807ad8;
}

#introduction-wrapper {
  width: 100%;
  height: 500px;
  background-image: url(https://vignette.wikia.nocookie.net/project-pokemon/images/4/47/Placeholder.png/revision/latest?cb=20170330235552);
}

#card-wrapper {
  background-color: #FAA8A8;
}

#select-wrapper {
  position: relative;
  width: 70%;
  height: 30px;
  margin-bottom: 6px;
}

#select-wrapper select {
  position: absolute;
  width: 300px;
  height: 100%;
  right: 10px;
  border-radius: 8px;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background-color: #FFFFFF;
  padding: 10px;
}

#card-subWrapper {
  position: relative;
  display: flex;
  margin: 10px;
}

#card-imageWrapper {
  margin-right: 25px;
}

#card-subWrapper div div {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
