* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 100%;
  height: 100px;
}

#options-bar {
  height: 50%;
  display: flex;
  flex-direction: row;
}

#options-bar .logo {
  height: 100%;
}

#options-links {
  display: flex;
  flex-direction: row;
}

#options-links a {
  text-transform: uppercase;  
  text-decoration: none;
  margin: 0 5px;
  padding: 5px 3px;
  background-color: #BBBBBB;
  border-left: 2px solid #D7D7D7;
  border-right: 2px solid #D7D7D7;
  border-radius: 8px;
  color: #150061;
  height: 80%;
}

#options-links a:hover {
  background-color: #807ad8;
}

#intro-wrapper {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

#intro-img {
  width: 100%;
  z-index: 10;
}

#intro-textWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 500px;
  z-index: 20;
  color: #FFFFFF;
  text-shadow: 2px 2px #000000;
}

#intro-title {
  margin-bottom: 25px;
}

#card-wrapper {
  background-color: #FAA8A8;
}

#select-wrapper {
  position: relative;
  width: 70%;
  height: 30px;
  margin-bottom: 6px;
}

#select-wrapper select {
  position: absolute;
  width: 300px;
  height: 100%;
  right: 10px;
  border-radius: 8px;
}

#card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 4px;
  z-index: 0;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 10;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-wrapper span {
  margin-top: 30px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#card-subWrapper {
  position: relative;
  display: flex;
  margin: 10px;
}

#card-imageWrapper {
  margin-right: 25px;
}

#card-img {
  height: 200px;
}

#card-descWrapper {
  margin: 10px;
}

#card-btnWrapper {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.btn-like,
.btn-like:visited {
    background-color: #ADADAD;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}


.btn-like:hover,
.btn-like:active {
    background-color: #E1E1E1;
    cursor: pointer;
}
