* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 50px;
  background: #5a50e2;
}

#options-bar {
  height: inherit;
  display: flex;
  flex-direction: row;
}

#options-bar .logo {
  height: 100%;
}

#options-links {
  display: flex;
  flex-direction: row;
}

#options-links div {
  border-left: 2px solid #150061;
  border-right: 2px solid #150061;
}
